@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron main-banner">
    <h1>
        <i class="fas fa-biking text-primary"></i>
        Encicla Insights
    </h1>
    <!--<img src="/static/imgs/Logo-encicla.svg" />-->
    <p class="lead">
        Encicla, the public bike-sharing system of the Aburra Valley, inaugurated in 2011, is a network of shared
        bicycle stations for the mobilization of people in the Metropolitan Area.
    </p>
    <p><a href="http://encicla.metropol.gov.co" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Business Problem</h2>
        <p>
            Encicla, like other bike-sharing systems, has a fluctuating demand for bicycles in some 
            stations and available bicycles in others, leading to unsatisfied users which is a common 
            problem in public bicycle sharing systems (Sun et al, 2018; SCMP,2017). 
            Given this, a systemic approach is required to handle this problem.
        </p>
        <p>
            To solve this situation, bikes in the system are redistributed by different bikes providers 
            (Salmon, 2020), this is removing bicycles from some stations and transferring them to other 
            stations, using a dedicated fleet of trucks. Cities invest great economic efforts to 
            redistribute bikes in these redistribution process.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Business Impact</h2>
        <p>
            In this specific project demand prediction could help Encicla to solve problems in terms of the
            effectiveness of the public bicycle system in the city of Medellin (El Colombiano, 2017; El Colombiano,2020).
        </p>
        <p>
            Given this, models to solve this situation are proposed below:
        </p>
        <ul>
            <li>
                Customer/users Optimal offers related to available options by station using forecast/ 
                machine learning (ML) modeling.
            </li>
            <li>
                Hourly forecast model so that an alarm can be generated one hour in advance for provisioning 
                trucks (so they will know where to go!)
            </li>
            <li>
                mproved customer assistance experience through map visualization of bikes availability with 
                real time weather status by station with the use of a public weather API.
            </li>
        </ul>
        
    </div>
    <div class="col-md-4">
        <h2>Data</h2>
        <p>
            The dataset consists of public information about mobility of Medellin:
        </p>
        <ul>
            <li>
                <a href="https://ds4ateam27.azurewebsites.net/swagger" target="_blank">
                    Models application: Final multi-cloud and API interfaces architecture
                </a>
            </li>
            <li>
                <a href="https://datosabiertos.metropol.gov.co/dataset/estaciones-encicla" target="_blank">
                    Location of the Encicla public bike-sharing system stations
                </a>
            </li>
            <li>
                <a href="http://144.22.100.43/WebApiEstaciones/estaciones" target="_blank">
                    Rest API Service with real time data about inventory of bike station
                </a>
            </li>
        </ul>
    </div>
</div>
